{% extends 'users/header.html' %}
{% load static %}
{% block content %}

<div style="padding-top: 5.5rem;" id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div style="height: 86.5vh;" class="carousel-item active">
            <img style="filter: brightness(30%);" src="{% static 'images/fisioterapia1slide.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Elevação da Perna Sobre uma Cilindro</h5>
                <p>Este exercício é ótimo para ativar e fortalecer os músculos da parte inferior do corpo, além de melhorar o alinhamento e a postura.</p>
            </div>
        </div>
        <div style="height: 86.5vh;" class="carousel-item">
            <img style="filter: brightness(30%);" src="{% static 'images/fisioterapia2slide.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Exercício de resistência com faixa elástica.</h5>
                <p>Esses exercícios são amplamente utilizados na fisioterapia devido à sua eficácia e à possibilidade de ajustar a resistência conforme necessário.</p>
            </div>
        </div>
        <div style="height: 86.5vh;" class="carousel-item">
            <img style="filter: brightness(30%);" src="{% static 'images/fisioterapia3slide.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Flexão de Braços com Mãos Cruzadas no Peito</h5>
                <p>Este exercício é muitas vezes utilizado para adaptar a intensidade da flexão de braços, oferecendo um desafio diferente e focando na técnica e controle muscular.</p>
            </div>
        </div>
    </div>
    <button style="top: calc(-20rem - -40vw); opacity: 1;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button style="top: calc(-20rem - -40vw); opacity: 1;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}