{% extends 'users/header.html' %}
{% block content %}
<main style="height: 100vh;" class="d-flex align-items-center justify-content-center container">
    <form action="{% url 'create_users' %}" method='post'>
        <h2>Cadastrar</h2>
        {% csrf_token %}
        <div style="width: 100%;" class="d-flex align-items-start justify-content-start flex-column">
            <label>Tipo de Usuário:</label>
            <div class="form-check">
                <input style="background-color: #00000041;" class="form-check-input" type="radio" name="type_user"
                    value="paciente" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">Paciente</label>
            </div>
            <div class="form-check">
                <input style="background-color: #00000041;" class="form-check-input" type="radio" name="type_user"
                    value="profissional" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">Profissional</label>
            </div>
        </div>
        {{ form.name }}
        {{ form.email }}
        {{ form.age }}
        {{ form.password }}

        </div>
        <button class="btn btn-success">Cadastrar</button>

    </form>
</main>
{% endblock %}