{% extends 'users/header.html' %}
{% block content %}
    <div style="padding-top: 5.5rem;" class="container">
        <table class="table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>idade</th>
                <th>senha</th>
            </tr>
            <!-- Está percorrendo os users -->
            {% for user in users %}
            <tr>
                <td>{{user.id_user}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.password}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}